<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlm.miandao.mapper.QuestionBankQuestionMapper">

    <resultMap id="BaseResultMap" type="com.zlm.miandao.model.entity.QuestionBankQuestion">
            <id property="id" column="id" />
            <result property="questionBankId" column="questionBankId" />
            <result property="questionId" column="questionId" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,questionBankId,questionId,userId,createTime,updateTime
    </sql>
</mapper>
